[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.2,<2.3"
pillow = "*"
dateparser = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
django-extensions = "*"
django-filter = "*"
djangorestframework = "*"
factory-boy = "*"
filemagic = "*"
gunicorn = "*"
langdetect = "*"
pdftotext = "*"
pyocr = "*"
python-dateutil = "*"
python-dotenv = "*"
python-gnupg = "*"
pytz = "*"
psycopg2 = "*"
djangoql = "*"
whitenoise = "*"
brotli = "*"
colorhash = "*"
fuzzywuzzy = {extras = [ "speedup",], version = "==0.15.0"}
inotifyrecursive = ">=0.3.4"

[dev-packages]
coveralls = "*"
pycodestyle = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-sugar = "*"
pytest-env = "*"
pytest-xdist = "*"
sphinx = "*"
tox = "*"
darker = "*"
black = "*"

[pipenv]
allow_prereleases = true
