{% extends 'admin/change_list.html' %}

{% block extrahead %}
{{ block.super }}
<style>
#thumbnail-view {
    position: absolute;
    display: none;
	z-index: 10;
	border: 2px solid #eaeaea;
}
</style>
<script type="text/javascript">
(function($) {
$(document).ready(function(){
	var $thumbnail_view = $("#thumbnail-view");
	var $thumbnail_view_img = $("#thumbnail-view img");
	$("td.field-download a").each(function(index) {
		var url = $(this).attr("thumb_url");
		$(this).hover(function(event){
			$thumbnail_view_img.attr("src", url);
			$thumbnail_view.css({
				top: event.clientY,
				left: event.clientX,
			}).show();
		}, function(event){
			setTimeout(function() {
				$thumbnail_view.hide();
			});
		});
	});
});
})(django.jQuery);
</script>
{% endblock %}

{% block content %}
<div id="thumbnail-view">
    <img src="">
</div>
{{ block.super }}
{% endblock %}